
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h3>Tables</h3>
					<table border="1" class="table1">
						<caption>Information of players</caption>
						<thead>
							<tr>
								<th>Players</th>
								<th>Height(cm)</th>
								<th>Weight(kg)</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Chris</td>
								<td>180</td>
								<td rowspan="2">80</td>
							</tr>
							<tr>
								<td>Tom</td>
								<td>190</td>
							</tr>
						</tbody>

						<tfoot>
							<tr>
								<th>Standard</th>
								<th colspan="2" >(185, 85)</th>
							</tr>
						</tfoot>
						<tfoot>
							<tr>
								<th>Average</th>
								<th>185</th>
								<th>80</th>
							</tr>
						</tfoot>

					</table>
					
					<table border="1" class="table2">
						<caption>Information of two websites</caption>
						<thead>
							<th>Websites catgory</th>
							<th>Website name</th>
							<th>Website link</th>
							<th>Images</th>
						</thead>

						<tbody>
							<tr>
								<td rowspan="2">Search Engine</td>
								<td>Google</td>
								<td><a href = "https://www.google.com/">Google Link</a></td>
								<td><img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Google-favicon-2015.png"></td>
							</tr>
							<tr>
								<td>Baidu</td>
								<td><a href = "http://www.baidu.com/">Baidu Link</a></td>
								<td>Sorrt, I don'd find an appropiate image</td>
							</tr>
						</tbody>

						<tfoot>
							<th>Like/Dislike</th>
							<th colspan="3">Like</th>
						</tfoot>
					</table>
					<p> The first table introduces the body information repectively for Chris and Tom. <br />
						The second table introduces some basic information for GOOGLE and BAIDU search engines.</p>
					
					<h3>Lists</h3>
					<ul>
						<li>Employee_id</li>
						<li>Employee_name</li>
						<li>Job
							<ol>
								<li>Programmer</li>
								<li>Consultant</li>
								<li>Sales</li>
							</ol>
						</li>
						<li>Department</li>
						<li>Location</li>
					</ul>
					<p>This list shows the basic structure for a databasse called "company".</p>

					<h3>Images</h3>
					<img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/LeBron_James_2.jpg" alt="LebronJames" width="400" > <br />
					<img src="https://upload.wikimedia.org/wikipedia/commons/c/ce/LeBron_James_%281%29.jpg" alt="LebronJames" width="400"> <br />
					<img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/LeBron_James_at_GSW.jpg" alt="LebronJames" width="400">
					<p>The above three pictures show a really great basketball player called Lebron James right now on this planet.</p>


					<h3>Audio</h3>
					<audio controls>
						<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/Track03.mp3", type="audio/mp3">
						<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/Track03.ogg", type="audio/ogg">
						<p>sorry, your browser doesn't support HTML5 audio. Here is a <a href="song.mp3">link to the audio</a> instead</p>
					</audio>
					<p>Here is a classical music.</p>

					<h3>Video</h3>
					<video width="320" height="240" controls>
						<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.mp4" type="video/mp4">
						<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.mp4" type="video/ogg">
						<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.mp4" type="video/webm">
						<p>Sorry, your browser doesn't support HTML5 video</p>
					</video>
					<p>This video shows a bear playing in a stream.</p>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		